header {
    width: auto;
    background: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-right: 5%;
    padding-left: 5%;
    height: 98px;
    box-shadow: 0 0 10px #9a9a9a6e;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    padding-top: 10px;
    margin-left: 30px;
}

nav {
    display: flex;
    position: absolute;
    top: 30px;
    right: 5%;
}

main {
    margin-top: 128px;
}

table {
    word-break: break-all;
}

div {
    margin-top: 20px;
}

img {
    border-radius: 10px;
    border: 1px solid #000000;
}

.logo {
    width: 50px;
    border-radius: 0px;
    border: None;
}

.create-line {
    width: 100%;
    border-top: 1px solid #000000;
}

td {
    vertical-align: top;
    padding: 5px;
}

