{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Мои наборы заметок</h2>
        <a href="/add_map_kit" class="btn btn-secondary">Добавить набор заметок</a>
        <br>
        {% if data %}
            {% for map in data %}
                <div class="create-line"></div>
                <div class="mapdiv">
                    <h4>Заметка № {{ loop.index }}. {{ map[1].name }}</h4>
                            <table>
                                <tr>
                                    <th>Карта</th>
                                    <th>Заметки</th>
                                </tr>
                                <tr>
                                    <td><img class="map" src="{{ map[0] }}"></td>
                                    <td>
                                        {% for info in map[1].maps %}
                                            {{ loop.index }}. {{ info.place }}. {{ info.text }}<br>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                            <div class="buttons_map">
                                <a href="/add_map/{{ map[1].name }}" class="btn btn-secondary">
                                    Добавить заметку
                                </a>
                                <a href="/choose_map/{{ map[1].id }}" class="btn btn-warning">
                                    Изменить
                                </a>
                                <a href="/delete_map/{{ map[1].id }}" class="btn btn-danger">
                                    Удалить
                                </a>
                            </div>
                </div>
            {% endfor %}
        {% else %}
            <p>У Вас на данный момент нет каких-либо заметок.</p>
            <div class="map_background">
                <img src="https://i.gifer.com/embedded/download/W9Xs.gif">
            </div>
        {% endif %}
    </div>
    <footer>
        <a class="link_main" href="/"><img src="{{ url_for('static', filename='images/down_logo.png') }}" class="logo" width="500"></a>
    </footer>
{% endblock %}
