{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Мои заметки</h2>
        <a href="/add_note" class="btn btn-secondary">Добавить заметку</a>
        <br>
        {% if data %}
            {% for map in data %}
                <div class="create-line"></div>
                <div class="mapdiv">
                    {% if current_user.id == 1 %}
                        <h4>id заметки: {{ map[1].id }}</h4>
                    {% endif %}
                    <h4>Заметка № {{ loop.index }}. {{ map[1].place }}</h4>
                    {% if map[1].images %}
                        <div id="carouselExampleDark" class="carousel carousel-dark slide">
                            <div class="slider">
                                <div class="carousel-inner">
                                    {% for image in map[1].images %}
                                        {% if loop.index == 1 %}
                                            <div class="carousel-item active">
                                                <img src="data:image/jpeg;base64,{{ image.image }}" class="d-block w-100">
                                            </div>
                                        {% else %}
                                            <div class="carousel-item">
                                                <img src="data:image/jpeg;base64,{{ image.image }}" class="d-block w-100">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    {% endif %}
                    <table>
                        <tr>
                            <td class="note">
                                <img src="{{ map[0] }}" class="map" width="300">
                                <p>{{ map[1].text }}</p>
                            </td>
                        </tr>
                    </table>
                    <div class="buttons_tools">
                        <a href="/change_map/{{ map[1].id }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="/delete_note/{{ map[1].id }}" class="btn btn-danger">
                            Удалить
                        </a>
                        <a href="/add_image/{{ map[1].id }}" class="btn btn-success">
                            Добавить картинку
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>У Вас на данный момент нет каких-либо заметок.</p>
            <div class="map_background">
                <img src="https://i.gifer.com/embedded/download/W9Xs.gif">
            </div>
        {% endif %}
    </div>
    <footer>
        <a class="link_main" href="/"><img src="{{ url_for('static', filename='images/down_logo.png') }}" class="logo" width="500"></a>
    </footer>
{% endblock %}
