{% extends "base.html" %}

{% block content %}
    <div class="container">
        <title>{{ title }}</title>
        <h1>{{ title }}</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {% if title == 'Добавление набора заметок' %}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control") }}<br>
                </p>
                <p>
                    {{ form.city.label }}<br>
                    {{ form.city(class="form-control") }}<br>
                </p>
            {% else %}
                <p>
                    {{ form.place.label }}<br>
                    {{ form.place(class="form-control") }}<br>
                </p>
                <p>
                    {{ form.text.label }} (до 225 символов)<br>
                    {{ form.text(maxlength=225, class="form-control") }}<br>
                </p>
                {% if title == 'Редактирование заметки' %}
                    <a class="btn btn-success" href="/add_image/{{ mapid }}">Добавить фото</a>
                {% endif %}
                <p>
                    {{ form.type() }} {{ form.type.label }}<br>
                </p>
            {% endif %}
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    </div>
{% endblock %}