{% extends "base.html" %}

{% block content %}
    <h2>Мои заметки</h2>
    <a href="/add_map" class="btn btn-secondary">Добавить заметку</a>
    <br>
    {% if maps %}
        {% for map in maps %}
            <h3>Заметка № {{ loop.index }}</h3>
                <table>
                    <tr>
                        <th>Карта</th>
                        <th>Замечания</th>
                    </tr>
                    <tr>
                        <td><img src="{{ map.map }}"></td>
                        <td>{{ map.text }}</td>
                    </tr>
                </table>
                {% if current_user.id == map.owner or current_user.id == 1 %}
                    <div>
                        <a href="/add_map/{{ map.id }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="/delete_map/{{ map.id }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                {% endif %}
        {% endfor %}
    {% else %}
        <p>У Вас на данный момент нет каких-либо заметок.</p>
    {% endif %}
{% endblock %}
