{% extends "base.html" %}

{% block content %}
    <h2>Мои заметки</h2>
    <a href="/add_map" class="btn btn-secondary">Добавить заметку</a>
    <br>
    {% if data %}
        {% for map in data %}
            <h4>Заметка № {{ loop.index }}</h4>
                    <table>
                        <tr>
                            <th>Карта</th>
                            <th>Заметки</th>
                        </tr>
                        <tr>
                            <td><img src="{{ map[0] }}"></td>
                            <td>
                                {% for text in map[1] %}
                                    {{ loop.index }}. {{ text }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                    <div>
                        <a href="/add_map/{{ map[2] }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="/delete_map/{{ map[2] }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
        {% endfor %}
    {% else %}
        <p>У Вас на данный момент нет каких-либо заметок.</p>
    {% endif %}
{% endblock %}
